<p>Angular Seed is a starter project that implements best practices in coding, building and testing Angular apps.</p>

<h2 i18n>Features</h2>
<ul>
  <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
  <li>Production and development builds.</li>
  <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
  <li>End-to-end tests with Protractor.</li>
  <li>Development server with live reload.</li>
  <li>TypeScript definition management using Types.</li>
  <li>Basic Service Worker, which implements "Cache then network strategy".</li>
</ul>

<button class="btn" data-toggle="modal" data-target="#exampleModalLong">Show modal</button>


<div class="modal fade modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
        <button type="button" class="btn" (click)="printDoc()">Print</button>
      </div>
      <div class="modal-body bg-white txt-blk" id="print-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h4>Old Data</h4>
              <pre>{{ oldData }}</pre>
            </div>
            <div class="col-md-6">
                <h4>New Data</h4>
              <pre>{{ newData }}</pre>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>